odoo_json_rpc.json
[{"id":"ae642797.19b838","type":"tab","label":"workFlowTest","disabled":false,"info":""},{"id":"3a85b7d4.8c68e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7ee1eea.22b161","type":"function","z":"ae642797.19b838","name":"createSOclient","func":"let odoo_xmlrpc = global.get('odoo_xmlrpc')\n\nlet host = '172.17.0.4'\nlet port = 8069\nlet db = 'demo'\nlet user = 'alan@example.com'\nlet pass = 'alan'\n\nlet SO = {\n    'company_id': 1, \n    'order_line': [[0,0,{\n        'name': 'Servicio de Fontaneria', \n        'price_unit': 0.0, \n        'product_id': 39, \n        'product_uom': 1, \n        'product_uom_qty': 1.0, \n        'state': 'draft'\n    }]],\n    'partner_id': 44,\n    'require_payment': false, \n    'require_signature': false,\n    'state': 'draft'\n}\n\nlet odoo = new odoo_xmlrpc({\n    url: 'http://' + host,\n    port: port,\n    db: db,\n    username: user,\n    password: pass\n});\n\nlet create_confirm_SO = function() {\n    let inParams = []\n    inParams.push(SO)\n    let params = []\n    params.push(inParams)\n    odoo.execute_kw('sale.order', 'create', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            flow.set('SO',value)\n            node.send({payload:{SO:value}})\n            inParams = []\n            inParams.push(value)\n            params = []\n            params.push(inParams)\n            odoo.execute_kw('sale.order', 'action_confirm', params, function (err, value) {\n                if (err) {\n                node.send({payload:err})\n            } else {\n                node.send({payload:value})\n            }\n            })\n        }\n    })\n}\n\nodoo.connect(function (err) {\n    if (err) { \n        node.send({payload:err}) \n    } else {\n        create_confirm_SO() \n    }\n});\n\n\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["7d7133a8.f5ae0c"]]},{"id":"9842248e.62b5d8","type":"inject","z":"ae642797.19b838","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["7ee1eea.22b161"]]},{"id":"7d7133a8.f5ae0c","type":"debug","z":"ae642797.19b838","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"1629478.f4652b9","type":"inject","z":"ae642797.19b838","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["439e2d4f.d4bc64"]]},{"id":"217e8ac0.b0cfe6","type":"debug","z":"ae642797.19b838","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"439e2d4f.d4bc64","type":"function","z":"ae642797.19b838","name":"addCostsPOsuplier","func":"let odoo_xmlrpc = global.get('odoo_xmlrpc')\n\nlet uid;\n\nlet host = '172.17.0.4'\nlet port = 8069\nlet db = 'demo'\nlet user = 'gonzalez@example.com'\nlet pass = 'gonzalez'\n\nlet POline = {\n    'name':'Materiales',\n    'product_id': 16,\n    'product_uom': 1,\n    'product_qty': 2,\n    'price_unit': 50,\n    'date_planned':'',\n    'order_id': 0,\n}\n\nlet odoo = new odoo_xmlrpc({\n    url: 'http://' + host,\n    port: port,\n    db: db,\n    username: user,\n    password: pass\n});\n\nlet addLinePO = function(so_name,partner_name) {\n    let inParams = []\n    inParams.push([['origin', 'ilike', so_name],['partner_id.name','ilike',partner_name]])\n    let params = []\n    params.push(inParams)\n    odoo.execute_kw('purchase.order', 'search', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            node.send({payload:{PO:value}})\n            POline['order_id'] = value[0]\n            let inParams = []\n            inParams.push(value[0])\n            let params = []\n            params.push(inParams)\n            params.push({'fields':['date_order']})\n            odoo.execute_kw('purchase.order', 'read', params, function (err, value) {\n                if (err) {\n                    node.send({payload:err})\n                } else {\n                    node.send({payload:value})\n                    POline['date_planned'] = value[0]['date_order']\n                    node.send({payload:POline})\n                    let inParams = []\n                    inParams.push(POline)\n                    let params = []\n                    params.push(inParams)\n                    odoo.execute_kw('purchase.order.line', 'create', params, function (err, value) {\n                        if (err) {\n                            node.send({payload:err})\n                        } else {\n                            node.send({payload:value})\n                        }\n                    })\n                }\n            })\n            \n        }\n    })\n}\n\nlet find_user_partner_id = function(uid,so_name) {\n    let inParams = []\n    inParams.push([uid])\n    let params = []\n    params.push(inParams)\n    params.push({'fields':['partner_id']})\n    odoo.execute_kw('res.users', 'read', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            node.send({payload:{partner_name:value[0]['partner_id'][1],soname:so_name}})\n            addLinePO(so_name,value[0]['partner_id'][1])\n        }\n    })\n}\n\nlet find_SO_name = function(uid) {\n    const id_searched = flow.get('SO')\n    inParams = []\n    inParams.push([id_searched])\n    params = []\n    params.push(inParams)\n    params.push({'fields':['name']})\n    odoo.execute_kw('sale.order', 'read', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            node.send({payload:{SO:value}})\n            find_user_partner_id(uid,value[0]['name'])\n        }\n    })\n}\n\nodoo.connect(function (err,value) {\n    if (err) { \n        node.send({payload:err}) \n    } else {\n        node.send({payload:value})\n        find_SO_name(value) \n    }\n});\n\n\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[["217e8ac0.b0cfe6"]]},{"id":"73b88d12.0b0164","type":"inject","z":"ae642797.19b838","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":260,"wires":[["5d696b1b.e77ae4"]]},{"id":"a373fc6e.fb47e","type":"debug","z":"ae642797.19b838","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"5d696b1b.e77ae4","type":"function","z":"ae642797.19b838","name":"aceptPOsuplier","func":"let odoo_xmlrpc = global.get('odoo_xmlrpc')\n\nlet host = '172.17.0.4'\nlet port = 8069\nlet db = 'demo'\nlet user = 'gonzalez@example.com'\nlet pass = 'gonzalez'\n\nlet odoo = new odoo_xmlrpc({\n    url: 'http://' + host,\n    port: port,\n    db: db,\n    username: user,\n    password: pass\n});\n\nlet acept_PO = function(so_name,partner_name) {\n    let inParams = []\n    inParams.push([['origin', 'ilike', so_name],['partner_id.name','ilike',partner_name]])\n    let params = []\n    params.push(inParams)\n    odoo.execute_kw('purchase.order', 'search', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            flow.set('PO',value[0])\n            node.send({payload:{PO:value[0]}})\n            inParams = []\n            inParams.push(value)\n            params = []\n            params.push(inParams)\n            odoo.execute_kw('purchase.order', 'set_state_sent', params, function (err, value) {\n                if (err) {\n                node.send({payload:err})\n            } else {\n                node.send({payload:value})\n            }\n            })\n        }\n    })\n}\n\nlet find_user_partner_id = function(uid,so_name) {\n    let inParams = []\n    inParams.push([uid])\n    let params = []\n    params.push(inParams)\n    params.push({'fields':['partner_id']})\n    odoo.execute_kw('res.users', 'read', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            node.send({payload:{partner_name:value[0]['partner_id'][1],soname:so_name}})\n            acept_PO(so_name,value[0]['partner_id'][1])\n        }\n    })\n}\n\nlet find_SO_name = function(uid) {\n    const id_searched = flow.get('SO')\n    inParams = []\n    inParams.push([id_searched])\n    params = []\n    params.push(inParams)\n    params.push({'fields':['name']})\n    odoo.execute_kw('sale.order', 'read', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            node.send({payload:{SO:value}})\n            find_user_partner_id(uid,value[0]['name'])\n        }\n    })\n}\n\nodoo.connect(function (err,value) {\n    if (err) { \n        node.send({payload:err}) \n    } else {\n        node.send({payload:value})\n        find_SO_name(value) \n    }\n});\n\n\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["a373fc6e.fb47e"]]},{"id":"13a1bf96.6b7b2","type":"inject","z":"ae642797.19b838","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":320,"wires":[["dc1f2602.98a158"]]},{"id":"ce849770.fdd748","type":"debug","z":"ae642797.19b838","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"dc1f2602.98a158","type":"function","z":"ae642797.19b838","name":"sendMsgPOclient","func":"let odoo_xmlrpc = global.get('odoo_xmlrpc')\n\nlet host = '172.17.0.4'\nlet port = 8069\nlet db = 'demo'\nlet user = 'alan@example.com'\nlet pass = 'alan'\n\nlet odoo = new odoo_xmlrpc({\n    url: 'http://' + host,\n    port: port,\n    db: db,\n    username: user,\n    password: pass\n});\n\nlet send_msg_PO = function() {\n    const id_po = flow.get('PO')\n    let inParams = []\n    inParams.push([id_po])\n    let params = []\n    params.push(inParams)\n    params.push({'body':'seguro que ese el precio'})\n    odoo.execute_kw('purchase.order', 'message_post', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            node.send({payload:value})\n        }\n    })\n}\n\nodoo.connect(function (err,value) {\n    if (err) { \n        node.send({payload:err}) \n    } else {\n        node.send({payload:value})\n        send_msg_PO() \n    }\n});\n\n\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["ce849770.fdd748"]]},{"id":"4ac69571.217a9c","type":"inject","z":"ae642797.19b838","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":380,"wires":[["ed41a4c.ab1e758"]]},{"id":"61ce63ef.995bac","type":"debug","z":"ae642797.19b838","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":380,"wires":[]},{"id":"ed41a4c.ab1e758","type":"function","z":"ae642797.19b838","name":"sendMsgPOsupplier","func":"let odoo_xmlrpc = global.get('odoo_xmlrpc')\n\nlet host = '172.17.0.4'\nlet port = 8069\nlet db = 'demo'\nlet user = 'gonzalez@example.com'\nlet pass = 'gonzalez'\n\nlet odoo = new odoo_xmlrpc({\n    url: 'http://' + host,\n    port: port,\n    db: db,\n    username: user,\n    password: pass\n});\n\nlet send_msg_PO = function() {\n    const id_po = flow.get('PO')\n    let inParams = []\n    inParams.push([id_po])\n    //inParams.push([69])\n    let params = []\n    params.push(inParams)\n    params.push({'body':'si es ese'})\n    odoo.execute_kw('purchase.order', 'message_post', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            node.send({payload:value})\n        }\n    })\n}\n\nodoo.connect(function (err,value) {\n    if (err) { \n        node.send({payload:err}) \n    } else {\n        node.send({payload:value})\n        send_msg_PO() \n    }\n});\n\n\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":380,"wires":[["61ce63ef.995bac"]]},{"id":"8aea4e46.38aec","type":"inject","z":"ae642797.19b838","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":500,"wires":[["4b78f1ed.8bac8"]]},{"id":"37f97395.a350ac","type":"debug","z":"ae642797.19b838","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":500,"wires":[]},{"id":"4b78f1ed.8bac8","type":"function","z":"ae642797.19b838","name":"confirmPOclient","func":"let odoo_xmlrpc = global.get('odoo_xmlrpc')\n\nlet host = '172.17.0.4'\nlet port = 8069\nlet db = 'demo'\nlet user = 'alan@example.com'\nlet pass = 'alan'\n\nlet odoo = new odoo_xmlrpc({\n    url: 'http://' + host,\n    port: port,\n    db: db,\n    username: user,\n    password: pass\n});\n\nlet confirm_PO = function(so_name,partner_name) {\n    const id_po = flow.get('PO')\n    let inParams = []\n    inParams.push([id_po])\n    //inParams.push([69])\n    let params = []\n    params.push(inParams)\n    odoo.execute_kw('purchase.order', 'button_confirm', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            node.send({payload:value})\n        }\n    })\n}\n\nodoo.connect(function (err,value) {\n    if (err) { \n        node.send({payload:err}) \n    } else {\n        node.send({payload:value})\n        confirm_PO(value) \n    }\n});\n\n\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":500,"wires":[["37f97395.a350ac"]]},{"id":"f61a2c13.dac73","type":"inject","z":"ae642797.19b838","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":440,"wires":[["509ab645.b56b68"]]},{"id":"8403a069.ba212","type":"debug","z":"ae642797.19b838","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":440,"wires":[]},{"id":"509ab645.b56b68","type":"function","z":"ae642797.19b838","name":"listMSGsuplierOrClient","func":"let odoo_xmlrpc = global.get('odoo_xmlrpc')\n\nlet host = '172.17.0.4'\nlet port = 8069\nlet db = 'demo'\nlet user = 'alan@example.com'\nlet pass = 'alan'\n\nlet odoo = new odoo_xmlrpc({\n    url: 'http://' + host,\n    port: port,\n    db: db,\n    username: user,\n    password: pass\n});\n\nlet list_msg_ids = function() {\n    // const id_po = flow.get('PO')\n    let inParams = []\n    inParams.push([72])\n    inParams.push([['res_id', '=', 72]])\n    inParams.push(['message_type','model','res_id','body','author_id'])\n    let params = []\n    params.push(inParams)\n    odoo.execute_kw('purchase.order', 'search_messages', params, function (err, value) {\n        if (err) {\n            node.send({payload:err})\n        } else {\n            for (let index in value) {\n                node.send({payload:value[index]})\n            }\n        }\n    })\n}\n\n\n\nodoo.connect(function (err,value) {\n    if (err) { \n        node.send({payload:err}) \n    } else {\n        node.send({payload:value})\n        list_msg_ids() \n    }\n});\n\n\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":440,"wires":[["8403a069.ba212"]]}]